<a href="https://colab.research.google.com/github/Melvin-Mbise/tts-hw/blob/main/TTS_PythonHW_01_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pseudo-code
firstname = input('Enter first name: ') #accept firstname
lastname = input('Enter last name: ')  #accept lastname
print(lastname, ",", firstname)  #print them in reverse order with a space between them

Enter first name: Melvin
Enter last name: Mbise
Mbise , Melvin

In [ ]:
integer = int(input ('Enter your integer'))
value = (integer)+(integer**2)+(integer**3)
print(value)

Enter your integer2
14

In [ ]:
Country = input('What country are you from? ')
print('I have heard that' + ' ' + Country + ' ' + 'is a beautiful country!')

What country are you from? Ethiopia
I have heard that Ethiopia is a beautiful country!

In [ ]:
for i in range(11):
  if i > 0:
      print('4 x' , i , '=' , 4*i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
for i in range(11):
  if i > 0:
      print('4 multiplied by' , i , 'is' , 4*i)

4 multiplied by 1 is 4
4 multiplied by 2 is 8
4 multiplied by 3 is 12
4 multiplied by 4 is 16
4 multiplied by 5 is 20
4 multiplied by 6 is 24
4 multiplied by 7 is 28
4 multiplied by 8 is 32
4 multiplied by 9 is 36
4 multiplied by 10 is 40

In [ ]:
for i in range(1,11):
   for j in range(1,11):
      k = i*j
      print (k, end=' ')
   print( )

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1,11):
   for j in range(1,11):
      k = i*j
      print (k, end=' ')
   print( )

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x, y)
#the outout is nothing because the if code is false since x squared is equal to 100

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

#we appended [30,40] to a thus the output will have these additional numbers and it affects both b and a because they were defined as equal

[10, 20, 30, 40]
[10, 20, 30, 40]

In [ ]:
#Is a String Immutable in Python?
#Yes it is immutable

In [ ]:
#What is the output of the following code and what arithmetic operators is being used here? print(2%6)
2%6
#The output is 2 and the operator is modulus which returns the remainder value after doing division

2

In [ ]:
#What is the output of the following code and what arithmetic operators are used here? print(2 * 3 ** 3 * 4)
print(2 * 3 ** 3 * 4)
#The output is 216 and the operators are multiplication and exponent

216

In [ ]:
#What is a text editor?
#It is a computer program that allows one to manipulate, edit and run code or text. I believe it is useful since it can run multiple programming languages i.e. HTML/Python

In [ ]:
#What is python?
#It is a high-level programming language used for a variety of tasks such as data analysis and website building

In [ ]:
#What is jupyter notebook, what type of python environment is it, and what alternatives are there to jupyter notebook?
#It is a web-based computing platform and it uses a virtual python 3 environment using ipykernel. Alternatives include Sublime Text or Google Colab

In [ ]:
#What is the output of x AND explain why that is the output for:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)
#The output is 182 and this is due to the order of operations in math

182.0